--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: find_plasmids(integer[], text[]); Type: FUNCTION; Schema: public; Owner: lab_user
--

CREATE FUNCTION public.find_plasmids(lots integer[], sublots text[]) RETURNS TABLE(bag character varying, lot integer, sub_lot character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT u.bag, u.lot, u.sub_lot
    FROM users_3_cols u
    WHERE (u.lot, u.sub_lot) IN (
        SELECT UNNEST(lots), UNNEST(sublots)
    );
END;

$$;


ALTER FUNCTION public.find_plasmids(lots integer[], sublots text[]) OWNER TO lab_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: plasmids; Type: TABLE; Schema: public; Owner: lab_user
--

CREATE TABLE public.plasmids (
    bag character varying(10),
    lot integer NOT NULL,
    sub_lot integer,
    volume_1 text,
    volume_2 text,
    notes text
);


ALTER TABLE public.plasmids OWNER TO lab_user;

--
-- Name: plasmids_short; Type: TABLE; Schema: public; Owner: lab_user
--

CREATE TABLE public.plasmids_short (
    bag character varying(10),
    lot integer NOT NULL,
    sub_lot character varying(10)
);


ALTER TABLE public.plasmids_short OWNER TO lab_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: lab_user
--

CREATE TABLE public.users (
    bag text NOT NULL,
    lot integer NOT NULL,
    sub_lot text
);


ALTER TABLE public.users OWNER TO lab_user;

--
-- Data for Name: plasmids; Type: TABLE DATA; Schema: public; Owner: lab_user
--



--
-- Data for Name: plasmids_short; Type: TABLE DATA; Schema: public; Owner: lab_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: lab_user
--

COPY public.users (bag, lot, sub_lot) FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

