@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@theme {
    --font-family-sans: 'Roboto', sans-serif;
}

/* Limit select dropdown height */
select.dropdown-limited {
    max-height: 2.5rem;
}

select.dropdown-limited option {
    max-height: 100px;
}